<div class="table-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="table-title">
    <div class="row">
      <div class="col-xs-6">
        <h2>Liste des produits</h2>
      </div>
    </div>

    <button class="btn btn-outline-success" routerLink="/addProduct"
            style="float: right;
                  border-radius: 5px;"><i class="bi bi-plus-circle-fill"></i>&nbsp;Ajouter un produit
    </button>
    <br><br>

  </div>
</div>
<mat-form-field>
  <mat-select (selectionChange)="filter($event.value)" [placeholder]="'Filter...'">
    <mat-option *ngFor="let category of categories" [value]="category">{{category.titre}}</mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="dataSource.data.length<=0">
  <div class="alert alert-danger text-center" role="alert">
    Pas de produit disponible !
  </div>
</div>
<table *ngIf="dataSource.data.length>0" [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  <ng-container matColumnDef="stock">
    <th *matHeaderCellDef mat-header-cell>Stock</th>
    <td *matCellDef="let element"
        mat-cell>
      <mat-icon [ngClass]=" inStock?'green-icon': 'red-icon'"> {{element.state}}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th *matHeaderCellDef mat-header-cell>Image</th>
    <td *matCellDef="let element" mat-cell><img src="{{element.photo.url}}" style="width:50px"/></td>
  </ng-container>

  <ng-container matColumnDef="titre">
    <th *matHeaderCellDef mat-header-cell>Titre</th>
    <td *matCellDef="let element" mat-cell> {{element.titre}} </td>
  </ng-container>

  <ng-container matColumnDef="pu">
    <th *matHeaderCellDef mat-header-cell>Prix Unitaire</th>
    <td *matCellDef="let element" mat-cell> {{element.prix|currency}}</td>
  </ng-container>


  <ng-container matColumnDef="categorie">
    <th *matHeaderCellDef mat-header-cell>Catégorie</th>
    <td *matCellDef="let element" mat-cell> {{element.category.titre}} </td>
  </ng-container>


  <ng-container matColumnDef="cc">

    <th *matHeaderCellDef mat-header-cell>Actions</th>
    <td *matCellDef="let element" mat-cell>
      <button color="primary" mat-button
              routerLink="/products/edit/{{element.idProduit}}">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onDelete(element)" color="primary" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>

  </ng-container>


</table>




