<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Ajouter une catégorie</h2>
          <span>Veuillez utiliser le formulaire ci-dessous pour ajouter une catégorie.</span>
        </div>
      </div>
      <div class="card-body">

        <form [formGroup]="categoryForm">
          <div class="row">
            <div class="col-4 mb-3">
              <label class="form-label">Titre</label>
              <input class="form-control" formControlName="titre" type="text">
            </div>

            <br>
            <div class="form-group  ">
              <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert"> {{errorMessage}}</div>
              <button (click)="saveCategory()" [disabled]="!categoryForm.valid" class="btn btn-primary" type="button">
                Ajouter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
