<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between" style="justify-content: space-between;">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
      <button (click)="goToCommandes()" *ngIf="isLoggedIn" mat-button>
    <mat-icon>shopping_cart</mat-icon>
    Commande
  </button>
  <button (click)="goToCategories()" *ngIf="isLoggedIn" mat-button>
    <mat-icon>view_list</mat-icon>
    Catégorie
  </button><button (click)="goToProducts()" *ngIf="isLoggedIn" mat-button>
    <mat-icon> local_dining</mat-icon>

    Produits
  </button>
    <button (click)="goToClients()" *ngIf="isLoggedIn" mat-button>
    <mat-icon> contacts</mat-icon>
    Clients
  </button>


  </span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <button *ngIf="!isLoggedIn" mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Se Connecter
    </button>

    <button (click)="logout()" *ngIf="isLoggedIn" mat-button>
      <mat-icon>exit_to_app</mat-icon>
      Se déconnecter
    </button>
    <div style="float: right">
      <button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm mat-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>

<mat-menu #menu="matMenu" x-position="before">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Acceuil
  </button>

  <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    Se connecter
  </button>
  <button (click)="goToHistory()" *ngIf="isLoggedIn" mat-menu-item>
    <mat-icon>history</mat-icon>
    Historique
  </button>
  <button (click)="logout()" *ngIf="isLoggedIn" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    Se déconnecter
  </button>

</mat-menu>
<router-outlet></router-outlet>
